@tailwind base;
@tailwind components;
@tailwind utilities;


/* ::-webkit-scrollbar {
    width: 10px;
} */

body {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-ExtraLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-Thin.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'estedad';
    src: url(assets/font/Estedad-v7.3/ttf/Estedad-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'estedad-fd';
    src: url(assets/font/Estedad-v7.3/ttf/FD/Estedad-FD-Bold.ttf);
    font-weight: 700;
}

@layer components {
    .rtl-grid {
        direction: rtl;
    }

    .footer-link-hover {
        transform: translateX(-4px);
        transition: .3s all ease-in-out;
    }

    .search-popup {
        left: calc(50% - 600px/2);
    }

    .branch-popup-small {
        left: calc(50% - 320px/2);
    }

    .branch-popup-large {
        left: calc(50% - 808px/2);
    }

    .dark-bg-popups {
        opacity: 1;
        pointer-events: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        filter: blur(3px);
    }

    /* style of loading spinner */
    @keyframes square-animation {
        0% {
            left: 0;
            top: 0;
        }

        10.5% {
            left: 0;
            top: 0;
        }

        12.5% {
            left: 32px;
            top: 0;
        }

        23% {
            left: 32px;
            top: 0;
        }

        25% {
            left: 64px;
            top: 0;
        }

        35.5% {
            left: 64px;
            top: 0;
        }

        37.5% {
            left: 64px;
            top: 32px;
        }

        48% {
            left: 64px;
            top: 32px;
        }

        50% {
            left: 32px;
            top: 32px;
        }

        60.5% {
            left: 32px;
            top: 32px;
        }

        62.5% {
            left: 32px;
            top: 64px;
        }

        73% {
            left: 32px;
            top: 64px;
        }

        75% {
            left: 0;
            top: 64px;
        }

        85.5% {
            left: 0;
            top: 64px;
        }

        87.5% {
            left: 0;
            top: 32px;
        }

        98% {
            left: 0;
            top: 32px;
        }

        100% {
            left: 0;
            top: 0;
        }
    }

    .loader {
        position: relative;
        width: 96px;
        height: 96px;
        transform: rotate(45deg);
    }

    .loader-square {
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        margin: 2px;
        border-radius: 0px;
        background: #417F56;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: square-animation 10s ease-in-out infinite both;
    }

    .loader-square:nth-of-type(0) {
        animation-delay: 0s;
    }

    .loader-square:nth-of-type(1) {
        animation-delay: -1.4285714286s;
    }

    .loader-square:nth-of-type(2) {
        animation-delay: -2.8571428571s;
    }

    .loader-square:nth-of-type(3) {
        animation-delay: -4.2857142857s;
    }

    .loader-square:nth-of-type(4) {
        animation-delay: -5.7142857143s;
    }

    .loader-square:nth-of-type(5) {
        animation-delay: -7.1428571429s;
    }

    .loader-square:nth-of-type(6) {
        animation-delay: -8.5714285714s;
    }

    .loader-square:nth-of-type(7) {
        animation-delay: -10s;
    }

    /* digit code input group for register */
    .vi__wrapper {
        width: 100% !important;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .character {
        border: none;
        font-size: 20px;
        border-radius: 8px;
        width: 55px;
        height: 35px;

        /* light theme */
        color: #272729;
        background-color: #ffffff;
        border: 1px solid #E1E1E1;
    }

    .character--selected {
        border: 1px solid#417F56 !important;
        outline: none;
    }

    /* styles for spinner loading */
    .dot-spinner {
        /* --uib-size: 2.2rem; */
        --uib-speed: .9s;
        --uib-color: #0C0C0C;
        /* position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: var(--uib-size);
        height: var(--uib-size); */
    }

    .dot-spinner__dot {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }

    .dot-spinner__dot::before {
        content: '';
        height: 20%;
        width: 20%;
        border-radius: 50%;
        background-color: var(--uib-color);
        transform: scale(0);
        opacity: 0.5;
        animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
        box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
    }

    .dot-spinner__dot:nth-child(2) {
        transform: rotate(45deg);
    }

    .dot-spinner__dot:nth-child(2)::before {
        animation-delay: calc(var(--uib-speed) * -0.875);
    }

    .dot-spinner__dot:nth-child(3) {
        transform: rotate(90deg);
    }

    .dot-spinner__dot:nth-child(3)::before {
        animation-delay: calc(var(--uib-speed) * -0.75);
    }

    .dot-spinner__dot:nth-child(4) {
        transform: rotate(135deg);
    }

    .dot-spinner__dot:nth-child(4)::before {
        animation-delay: calc(var(--uib-speed) * -0.625);
    }

    .dot-spinner__dot:nth-child(5) {
        transform: rotate(180deg);
    }

    .dot-spinner__dot:nth-child(5)::before {
        animation-delay: calc(var(--uib-speed) * -0.5);
    }

    .dot-spinner__dot:nth-child(6) {
        transform: rotate(225deg);
    }

    .dot-spinner__dot:nth-child(6)::before {
        animation-delay: calc(var(--uib-speed) * -0.375);
    }

    .dot-spinner__dot:nth-child(7) {
        transform: rotate(270deg);
    }

    .dot-spinner__dot:nth-child(7)::before {
        animation-delay: calc(var(--uib-speed) * -0.25);
    }

    .dot-spinner__dot:nth-child(8) {
        transform: rotate(315deg);
    }

    .dot-spinner__dot:nth-child(8)::before {
        animation-delay: calc(var(--uib-speed) * -0.125);
    }

    @keyframes pulse0112 {

        0%,
        100% {
            transform: scale(0);
            opacity: 0.5;
        }

        50% {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.react-multi-carousel-list {
    height: 100%;
}

.react-multi-carousel-track {
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
}

.react-multi-carousel-item {
    /* width: 230px !important; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-multiple-carousel__arrow {
    bottom: 0 !important;
}